.list-slides {
    padding: 0 0 100px;

    @media (max-width: 991px){
        padding: 0 0 50px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .list-slides-wrapper {
        border-radius: 60px;
        overflow: hidden;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);

        &.light {
            background-color: #fff;
            color: $brand-dark;

            .slide-number {
                -webkit-text-stroke-color: $brand-dark;
                text-stroke: 2px $brand-dark;
            }

            ul li {
                color: $brand-dark;
            }
        }

        &.dark {
            background-color: $brand-dark;
            color: #fff;

            .slide-number {
                -webkit-text-stroke-color: #fff;
                text-stroke: 2px #fff;
            }

            ul li {
                color: #fff;
            }
        }
    }

    .list-slides-holder {
        display: flex;
        flex-wrap: nowrap;
        padding: 50px 0 100px;
        overflow-x: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        background-image: url("../assets/images/slide-line.png");
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-attachment:local;

        @media (max-width: 991px){
            display: block;
            background-image: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .list-slides-item {
            min-width: 100%;

            .list-slides-container {
                max-width: 1370px;
                margin: 0 auto;
            }

            .icon-holder {
                text-align: center;
                padding-top: 30px;
            }

            .slide-number {
                font-family: $font-futura-heavy;
                font-size: 80px;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 2px;

                @media (max-width: 991px){
                    display: none;
                }
            }

            .slide-title {
                font-family: $font-futura-heavy;
                font-size: 50px;
                line-height: 64px;
                color: $brand-color;

                @media (max-width: 991px){
                    padding-bottom: 30px;
                    text-align: center;
                    font-size: 40px;
                    line-height: 55px;
                }
            }
        }
    }
}