.services-banner {
    padding-top: 95px;
    background-color: $brand-dark;
    color: #fff;

    .banner-wrapper {
      padding-top: 100px;
      padding-bottom: 200px;

      @media (max-width: 991px){
          margin-top: 60px;
          padding-bottom: 50px;
      }

      @media (max-width: 767px){
          margin-top: 0;
          padding-bottom: 0;
      }
      
      .row {
          @media (max-width: 991px){
              flex-direction: column-reverse;
          }
      }
    }

    .banner-text {

        .banner-description {
            position: relative;
            max-width: 500px;
            margin-top: 30px;
            padding-top: 20px;
  
            @media (max-width: 991px){
                padding-top: 0;
                margin-top: 0;
                max-width: 100%;
                text-align: center;
            }
  
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                height: 4px;
                width: 32%;
                border-radius: 25px;
  
                @media (max-width: 991px){
                    display: none;
                }
            }

            &.yellow {
                &:before {
                    background-color: $brand-color;
                }
            }

            &.green {
                &:before {
                    background-color: $green;
                }
            }

            &.purple {
                &:before {
                    background-color: $purple;
                }
            }
        }
  
        .section-title {
            margin-top: 90px;
  
            @media screen and (max-width: 1199px) and (min-width: 768px){
                font-size: 60px;
            }
  
            @media (max-width: 767px){
                margin-top: 40px;
                text-align: center;
            }
            
            br {
                @media (max-width: 1199px){
                    display: none;
                }
            }
        }
    }
  
    .banner-image {
        .banner-cards {
            position: relative;
            margin: 0 auto;
            width: 487px;
  
            @media (max-width: 1199px){
                width: 100%;
            }
  
            @media (max-width: 991px){
                min-height: 550px;
            }
  
            @media (max-width: 767px){
                min-height: 345px;
                max-width: 285px;
            }
  
            &-item {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 28px;
                min-height: 450px;
                min-width: 330px;
                text-align: center;
                border-radius: 18px;
                cursor: pointer;
  
                @media (max-width: 767px){
                    padding: 15px;
                    min-height: 260px;
                    min-width: 185px;
                }
   
                .card-icon {
                    max-width: 205px;
                    text-align: center;
                    @media (max-width: 767px){
                        max-width: 100px;
                    }
                }
  
                .card-title {
                    padding-top: 40px;
                    margin: 0;
                    font-family: $font-futura-heavy;
                    font-size: 40px;
                    text-align: center;
                    line-height: 48px;
  
                    @media (max-width: 767px){
                        padding-top: 15px;
                        font-size: 22px;
                        line-height: 27px;
                    }
                }

                a {
                    color: #fff;
                    text-decoration: none;
                }
  
            }
  
            .top {
                top: 0;
                z-index: 3;
            }
  
            .middle {
                top: -45px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
  
                &:hover {
                    z-index: 4;
                    transition: all 0.4s linear;
                }
            }
  
            .bottom {
                top: 33px;
                right: 0;
                z-index: 1;
  
                &:hover {
                    z-index: 4;
                    transition: all 0.4s linear;
                }
            }

            .recruitment {
                background-color: $green;
            }

            .outsourcing {
                background-color: $brand-color;
            }

            .consulting {
                background-color: $purple;
            }
  
            .card-hover {
                transition: all 0.2s;

                &:hover {
                    min-height: 455px;
                    min-width: 335px;
                    transition: all 0.2s;
                }
            }
        }
    }
}

