.intern-page {

    section {
        margin-bottom: 100px;

        @media (max-width: 767px){
            margin-bottom: 50px;
        }
    }

    .brand-color {
        color: $brand-color;
    }

    .header {
        .header-banner {
            display: flex;
            align-items: center;
            min-height: 845px;
            background-image: url("../assets/images/banner-intern.jpg");
            background-color: #fff;  
            background-position: center; 
            background-repeat: no-repeat; 
            background-size: cover;

            @media (max-width: 767px){
                flex-direction: column-reverse;
                min-height: auto;
                background-image: none;
            }

            .banner-subject {
                display: none;

                @media (max-width: 767px){
                    display: block;
                }
            }
            
            h1 {
                max-width: 550px;
                width: 100%;
                font-size: 80px;
                line-height: 105.74px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                @media (max-width: 991px){
                    font-size: 70px;
                }

                @media (max-width: 767px){
                    font-size: 40px;
                    line-height: 50px;
                    text-align: center;
                }
            }
        }
    }


    .ig-post {
        margin-bottom: 0;
        background-color: $brand-dark;

        #instafeed_footer .items{
           &:nth-child(-n+3) {
                display: none;
            }
        }
        

        .images {
            display: flex;
            
            @media (max-width: 767px){
                display: block;
            }

            .item-3 {
                width: 33.333333%;
                padding-top: 25%;

                @media (max-width: 767px){
                    width: 100%;
                    padding-top: 75%;
                }
            }

            .item-4 {
                width: 25%;

                @media (max-width: 767px){
                    width: 100%;
                    padding-top: 75%;
                }
            }

            .items {
                position: relative;
               
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .managing-expectations {
        position: relative;
        padding: 110px 0 190px 0;
        background-color: $brand-dark;
        z-index: -2;

        @media (max-width: 991px){
            padding: 110px 0 110px 0;
        }

        .grid-row {
            display: flex;

            @media (max-width: 991px){
                display: block;
            }

            .left {
                width: 40%;

                @media (max-width: 991px){
                    width: 100%;
                }
            }

            .right {
                width: 60%;

                @media (max-width: 991px){
                    padding-top: 20px;
                    width: 100%;
                }
            }
            
        }

        .ellipse {
            position: absolute;
            right: 0;
            top: 35px;
            z-index: -1;
        }

        .arch {
            position: absolute;
            bottom: 100px;
            left: 0;
            z-index: -1;

            @media (max-width: 991px){
                bottom: 0;
            }
        }

        h1 {
            color: $brand-color;
            
            @media (max-width: 1199px){
                font-size: 60px;
            }

            @media (max-width: 991px){
                font-size: 40px;
            }
        }

        p {
            color: #fff;
        }
    }

    .experience {
        position: relative;
        padding-top: 100px;
        z-index: 1;

        @media (max-width: 1199px){
            padding-top: 0;
        }

        .grid-row {
            @media (max-width: 991px){
                flex-wrap: wrap;
            }
        }

        .exp-title{
            padding: 0 20px 0;
            width: 30%;

            @media (max-width: 991px){
                width: 100%;
            }

            h2 {
                @media (max-width: 1199px){
                    font-size: 40px;
                }

                @media (max-width: 991px){
                    padding-bottom: 30px;
                }
            }
        }

        .exp-card {
            margin: 0 20px 0;
            width: 35%;
            background-color: #fff;
            z-index: 2;

            @media (max-width: 991px){
                width: 44%;
            }

            @media (max-width: 767px){
                width: 93%;
            }

            .card-image {
                position: relative;
                padding-top: 90%;
            
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: auto;
                    width: 100%;
                }
            }

            .card-title {
                padding: 25px 25px 0;
                font-size: 32px;
                position: relative;

                @media (max-width: 1199px){
                    font-size: 25px;
                }

                @media (max-width: 767px){
                    padding: 25px 0 0;
                }
            }

            p {
                padding: 0 25px 25px;

                @media (max-width: 1199px){
                    font-size: 16px;
                }

                @media (max-width: 767px){
                    padding: 0 0 25px;
                }
            }

            // .card-description {
            //     position: relative;
            //     background-color: #fff;

            //     &:before {
            //         content: '';
            //         position: absolute;
            //         top: 0;
            //         right: 0;
            //         height: 100%;
            //         width: 100%;
            //         background-color: red;
            //         z-index: -1;
            //     }
            // }

            // .exp-background {
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;
            //     height: 100%;
            //     width: 100%;
            //     background-color: $brand-color;
            //     z-index: -1;
            // }

        }

        .mobile {
            display: none;

            @media (max-width: 767px){
                display: block;
            }
        }

        .desktop {
            display: block;
            background-color: $brand-color;

            @media (max-width: 767px){
                display: none;
            }
        }

        .bg-space {
            background-color: $brand-color;
            height: 70px;
            width: 100%;

            @media (max-width: 767px){
                display: none;
            }
        }
    }

    .be-updated {
        margin-bottom: 0;
        padding: 75px 0;
        background-color: $brand-dark;

        h2 {
            color: #fff;
        }

        p {
            margin: 0;
            color: #fff;
        }

        br {
            display: none;

            @media (max-width: 767px){
                display: block;
            }
        }
    }

    .solution {
        position: relative;
        z-index: 1;

        img {
            z-index: -1;
        }

        h2 {
            margin: 0 auto;
            padding: 125px 0;
            font-size: 70px;
            text-align: center;
            max-width: 915px;

            @media (max-width: 767px){
                font-size: 40px;
            }
        }

        .arch-inverted {
            position: absolute;
            left: 0;
            bottom: 0;

            @media (max-width: 767px){
                opacity: 0.3;
            }
        }

        .ellipse-purple {
            position: absolute;
            right: 0;

            @media (max-width: 767px){
                opacity: 0.3;
            }
        }
    }
}