//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-opensans: 'Open Sans';

$font-futura-heavy: 'FuturaPT';
$font-monstserrat-regular: 'Montserrat';

$text-font-stack: $font-monstserrat-regular, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$text-color: #1A1A1A !default;
$brand-dark: #1A1A1A !default;
$brand-color: #FEA706 !default;
$purple: #77486A;
$blue: #008AD3;
$red: #db2949;
$hover-blue: #0e7bb5;
$green: #008b61;
$brush-green: #80c5b0;
$bg-grey: #e4e4e4;
$cards-grey: #e4e4e4;
$light-grey: #EDEDED !default;
$light-mid-grey: #d7d7d7;
$mid-grey: #999 !default;
$dark-grey: #444 !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;
